.header {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	background: rgb(15, 185, 177);
	
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding: 10px;

}

.wrapper {
	margin: 60px 10%;
}

body {
	background: #f0f5f5;
	margin: 0;
}
h3 {
	color: rgb(102, 0, 51);
}
h1 {
	color: rgb(0, 51, 102);
}

p {
	margin: 0;
}

.heading {
	/*margin: 0 0 0 15px;*/
	text-align: center;
}

.card  {
	width: 400px;
	display: flex;
	color: gray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: white;
	margin: 15px;
}

.card-line  {
	background: #74b9ff;
	width: 3px;
}

.card-content {
	padding: 15px;
}

.card-title {
	color: #2d3436;
	margin: 0px;
}

.card-date {
	color: #74b9ff;
	margin: 5px 0;
	font-size: 15px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.hero-image {
	width: 100%;
	filter: blur(5px);
	margin: -25% 0 0 0;

	/*
	width: 100%;
	position: relative;
	top: -125px;
	filter: blur(5px);
	*/
}

.hero-image-wrapper {
	width: 100%;
	overflow: hidden;
	margin-top: 70px;
	/*
	height: 500px;
	overflow: hidden;
	*/
}

.hero-name {
	position: absolute;
	color: white;
	font-size: 100px;
    top: 100px;
    left: 30px;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.hero-title {
	position: absolute;
	color: rgb(220, 221, 225);
	font-size: 25px;
    top: 210px;
    left: 38px;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}